.CartWidget{
    background-color: #E2611B;
    border: 0.5px solid rgb(46, 46, 46);
    border-radius: 16px;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto; 
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .CartWidget:hover{
    background-color: #bb4607;
  }